# Dependencies
node_modules
**/node_modules/
.pnp
.pnp.js

# Next.js build and dev cache
.next/
**/.next/
out/
**/out/
build/
**/build/

# Testing
coverage/
**/coverage/

# Environment files
.env
.env.local
.env*.local
**/.env
**/.env.local
**/.env*.local

# Logs and debug
*.log
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE files
.DS_Store
Thumbs.db
*.pem
.vscode/
.idea/
*.tsbuildinfo
next-env.d.ts
**/next-env.d.ts
